.comment__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment__item__reply {
    display: flex;
    justify-items: flex-end;
    gap: 6%;
    padding-left: 6%;
}

.comment__item__reply-line {
    width: 0.3rem;
    background: var(--light-gray)
}

.comment__item__reply-comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}